* {
	font-family: OpenSans, Arial, sans-serif;
	box-sizing: border-box;
}

*,
html,
button,
input,
optgroup,
select,
textarea {
	line-height: 1.5;
}

input,
textarea {
	-webkit-appearance: none;
}

[data-js-focus-visible] :focus:not(.focus-visible) {
  outline: none !important;
}

a {
	text-decoration: none;
	&:focus {
		text-decoration: none;
	}
}

button {
	border: none;
	background-color: transparent;
	padding: 0;
}

html.fixed {
	overflow-y: hidden;
}

body.fixed {
	overflow-y: scroll;
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	// max-width: 1920px;
	// overflow: hidden;
	// margin: 0 auto;
}

.container {
	@include wrapper();
	width: 100%;
	@include max1919-block{
		max-width: 1410px;
	}
	@include max1439-block{
		max-width: 1200px;
	}
	@include max1229-block{
		max-width: 960px;
	}
	@include max991-block{
		max-width: 750px;
	}
	@include max767-block{
		max-width: 560px;
	}
}

.container-fluid {
	@include wrapper-full();
}

.row {
	@include row-flex();
}

hr {
	margin: 0 0 16px;
	border: none;
	color: #bdbdbd;
	background-color: #bdbdbd;
	height: 1px;
}

.disable-scroll {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
