.button {
	cursor: pointer;
	color: #333;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	border-radius: 4px;
	padding: 12px 32px;
	display: inline-block;
	background-color: #EDEEF1;
	transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;

	&.disabled {
		cursor: default;
	}

	@import '../helpers/focus';

	&_accent {
		color: #fff;
		background-color: var(--color-accent);
	}

	&_subscribe {
		font-size: 14px;
		font-weight: 400;
		padding: 5px 20px;
		color: #fff;
		background-color: var(--color-accent);
	}

	&_submit {
		padding: 11px 22px;
		color: var(--color-accent);
		border: 1px solid var(--color-accent);
		background-color: transparent;

		@include from(768px) {
			&:hover:not(.disabled) {
				color: #fff;
				background-color: var(--color-accent);
			}
		}
	}

	&_history {
		font-size: 13px;
		padding: 8px 32px;
	}

	&_close {
		color: #A0A0A0;
		font-size: 16px;
		font-weight: 400;
		padding: 11px 44px;
		background-color: transparent;
		border: 1px solid #A0A0A0;
		@include from(768px) {
			&:hover:not(.disabled) {
				color: var(--color-accent);
				border-color: var(--color-accent);
			}
		}
	}
}

.crossClose {
	width: 30px;
	height: 30px;
	position: relative;

	&::before,
	&::after {
		content: '';
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background-color: #808080;
		transform: translate(-50%, -50%);
		transform-origin: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transition: background-color .2s ease-in-out;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	@include from(768px) {
		&:hover::before,
		&:hover::after {
			background-color: #e00;
		}
	}
}