extends ../base/page

block variables
	- var pageTitle = 'Страница каталога'
	- var pageClass = '' // дополнительный класс для body
	- var styles = ['style.css']
	- var scripts = ['script.min.js']

block content
	include ../components/header

	main.main

	include ../components/footer