extends ../base/page

block variables
	- var pageTitle = 'Индексная страница'
	- var pageClass = '' // дополнительный класс для body
	//- - var styles = ['style.css']
	//- - var scripts = ['script.js']

block content
	include ../mixins/svg

	main.main(style="background:#353844")
		.container
			div(style="color:#fff;min-height:100vh;padding:30px")
				h1 Ссылки:
				ul(style="margin-bottom:50px")
					li(style="margin-bottom:15px")
						a(href="/main/" style="color:#fff") Главная
					li(style="margin-bottom:15px")
						a(href="/catalog/" style="color:#fff") Каталог

				h1 Иконки:
				.row
					+svg('arrow', '50px', '50px', 'margin:15px')
					+svg('cross', '50px', '50px', 'margin:15px')
					+svg('geo', '50px', '50px', 'margin:15px')
					+svg('magnifier', '50px', '50px', 'margin:15px')
					+svg('mail', '50px', '50px', 'margin:15px')
					+svg('phone', '50px', '50px', 'margin:15px')