extends ../base/page

block variables
	- var pageTitle = 'Индексная страница'
	//- - var pageClass = '' // дополнительный класс для body
	//- - var styles = ['style.css']
	//- - var scripts = ['script.js']

block content
	|<style>
	|	.start-page{background:#353844;color:#fff;min-height:100vh;line-height:1.5;padding:50px 0}
	|	.start-page b{display:block;font-size:20px;margin-bottom:10px}
	|	.start-page .row{max-width:800px}
	|	.start-page ul{margin-bottom:50px;padding-left:20px}
	|	.start-page li{margin-bottom:5px}
	|	.start-page a{color:#fff}
	|	.start-page svg{margin:15px}
	|</style>

	main.start-page
		.container
			b Ссылки:
			ul
				li
					a(href="/main/") Главная
				li
					a(href="/catalog/") Каталог

			b Иконки:
			.row
				+svg('arrow', '50', '50')
				+svg('cross', '50', '50')
				+svg('burger', '50', '50')
				+svg('magnific', '50', '50')