include ../mixins/timestamp

mixin svg(name, width, height, styles)
	svg(width=width || '20px', height=height || '20px', style=styles || '')
		use(xlink:href="/statical/icons/sprite.svg" + timestamp + '#' + name)