include ../mixins/timestamp

mixin svg(name, width, height, classes, styles)
	svg(width=width || '20', height=height || '20', class=classes || '', style=styles || '')
		use(xlink:href="/icons/sprite.svg" + timestamp + '#' + name)